<div class="sub-header">
    <h5>Adicionar usuário</h5>
</div>
<div class="progress">
    <div class="progress-bar progress-bar-default" style="width:0%"></div>
</div>

<div class="well">
    
    <div class="form-group">
        <label class="control-label">Tipo de usuário</label>
        <select class="form-control" name="repeatSelect" id="repeatSelect"  ng-change="optionPersonType(User.PersonTypeId)" ng-model="User.PersonTypeId">
        <option ng-repeat="option in ListPersonTypes" value="{{option.PersonTypeId}}">{{option.Name}}</option>
    </select>
    </div>

    <div class="form-group">
        <label class="control-label">Nome do usuário</label>
        <input type="text" class="form-control" id="txtUserName" ng-model="User.Name" placeholder="Digite o nome do usuário" />

    </div>

    <div class="form-group">
        <label class="control-label">E-mail</label>
          <input type="text" class="form-control" id="txtUserEmail" ng-model="User.Email" placeholder="Digite o e-mail do usuário" />
    </div>

    <div class="form-group">
        <label class="control-label">E-mail Alternativo</label>
        <input class="form-control" type="text" id="txtUserSecundaryEmail" ng-model="User.SecundaryEmail" placeholder="Digite o e-mail alternativo do usuário" />

    </div>

    <div class="form-group">
        <label class="control-label">Celular</label>
        <input class="form-control" type="text" id="txtUserSmartPhoneNumber" ng-model="User.SmartPhoneNumber" placeholder="Celular com DDD" />
    </div>

    <div class="form-group">
        <label class="control-label">Perfil do usuário</label>
       <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="User.UserProfileId">
        <option ng-repeat="option in UserProfileList" value="{{option.UserProfileId}}">{{option.Name}}</option>
    </select>
    </div>


    <div class="form-group">
        <label class="control-label">Status do usuário</label>
        <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="User.UserStatusId">
        <option ng-repeat="option in UserStatusList" value="{{option.UserStatusId}}">{{option.Name}}</option>
        </select>
    </div>




     <div class="form-group">
        <label class="control-label">Empresa do Usuário</label> <br>
      
         <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="User.PersonId">
        <option ng-repeat="option in PersonList" value="{{option.PersonId}}">{{option.Name}}</option>
    </select>

      <small>Associe o usuário à alguma empresa cadastrada</small>
    </div>


     <label class="control-label">Selecione um imagem de perfil</label> <br>
     <label class="btn btn-default" id="BtnSelecionar" for="fileToUpload" ng-file-model="files">Selecionar uma imagem</label>
        <input type="file" id="fileToUpload" class="btn btn-default" ng-file-model="files" multiple>

   <br><br>
    <button ng-click="sendUser(User)" class="btn btn-fullwidth btn-lg btn-primary">Cadastrar</button>


</div>


    <!--<br />
    User IsDefaultUser:
    <input type="text" id="txtUserIsDefaultUser" ng-model="User.IsDefaultUser" placeholder="Digite a Área de Atuação" />

    <br />
    User AuthenticationModeId:
    <input type="text" id="txtUserAuthenticationModeId" ng-model="User.AuthenticationModeId" placeholder="Digite a Área de Atuação" />

    <br />
    User ValidationDateUTC:
    <input type="text" id="txtUserValidationDateUTC" ng-model="User.ValidationDateUTC" placeholder="Digite a Área de Atuação" />

    <br />
    User ValidationToken:
    <input type="text" id="txtUserValidationToken" ng-model="User.ValidationToken" placeholder="Digite a Área de Atuação" />

    <br />
    User EnrollmentIP:
    <input type="text" id="txtUserEnrollmentIP" ng-model="User.EnrollmentIP" placeholder="Digite a Área de Atuação" />

    <br />
    User ValidationIP:
    <input type="text" id="txtUserValidationIP" ng-model="User.ValidationIP" placeholder="Digite a Área de Atuação" />

    <br />
    User ServerInstanceId:
    <input type="text" id="txtUserServerInstanceId" ng-model="User.ServerInstanceId" placeholder="Digite a Área de Atuação" />

    <br />
    User FormFillTime:
    <input type="text" id="txtUserFormFillTime" ng-model="User.FormFillTime" placeholder="Digite a Área de Atuação" />

    <br />
    User SecurityCheckNecessary:
    <input type="text" id="txtUserSecurityCheckNecessary" ng-model="User.SecurityCheckNecessary" placeholder="Digite a Área de Atuação" />

    
    <br />-->
    <!--User IsPerpetual:
    <input type="text" id="txtUserIsPerpetual" ng-model="User.IsPerpetual" placeholder="Digite a Área de Atuação" />



    <br />-->
    

    <!--User LanguageId:
    <select name="repeatSelect" id="repeatSelect" ng-model="User.LanguageId">
        <option ng-repeat="option in LanguageList" value="{{option.LanguageId}}">{{option.Name}}</option>
    </select>
    <br />
    <br />-->

  
    <!--User CreatedBy
    <select name="repeatSelect" id="repeatSelect" ng-model="User.CreatedBy">
        <option ng-repeat="option in UserList" value="{{option.UserId}}">{{option.Name}}</option>
    </select>
    <br />
    <br />-->

       <!--User ServerInstanceId:
    <select name="repeatSelect" id="repeatSelect" ng-model="User.ServerInstanceId">
        <option ng-repeat="option in ServerInstanceList" value="{{option.ServerInstanceId}}">{{option.Name}}</option>
    </select>
    <br />
    <br />-->


