@{
    ViewBag.Title = "LogOut";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.location = '/Account/login';
        });
    </script>
</head>
<body>
    <div>

    </div>
</body>
</html>
