<div class="container">

    <section class="deal">
        <div class="back-button"><a href="#" onclick="window.history.back()"><i class="material-icons">arrow_back</i></a></div>

        <div class="detail-box">
            <div class="col-md-6">
                <img ng-src="{{SelectedPromotion.PhotoURL}}" src="/images/stockphotos/exemplo1.jpg" class="img-responsive">
            </div>

            <div class="col-md-6">

                <div class="row">
                    <h2 class="deal-header--title">{{SelectedPromotion.Title}}</h2>
                    <span class="deal-header--address">
                        <i class="material-icons">place</i>
                        {{SelectedPromotion.Address}}
                    </span>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <p class="details-subtitle">Preço</p>
                        <span class="details-oldprice">{{SelectedPromotion.NormalPrice}}</span>
                        <h2 class="details-price">{{SelectedPromotion.PromotionalPrice}}</h2>
                        <div class="detail-pricetag">Promoção</div>
                        <p ng-bind-html="SelectedPromotion.ShortDescription"></p>

                        <div class="hlp-card-button hlp-card-button-detail">
                            <button href="#" class="hlp-card-button" ng-disabled="DisabledGenerateCouponButton" data-toggle="modal" ng- ng-click="GenerateCoupon(SelectedPromotion)">Quero Economizar {{SelectedPromotion.DiscountePercentege}}%</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="list-group">

                            <a href="#" class="list-group-item text-center">
                                <h4 class="list-group-item-heading">{{SelectedPromotion.NumberOfAvailableCoupons}}</h4>
                                <p class="list-group-item-text">Cupons Disponíveis</p>
                            </a>
                            <a href="#" class="list-group-item text-center">
                                <h4 class="list-group-item-heading">{{SelectedPromotion.DateOfExpire}}</h4>
                                <p class="list-group-item-text">Validade do cupom</p>
                            </a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- style white -->

        <div class="col-md-12">
            <div class="company-card">
                <header class="hlp-card-header col-md-6">
                    <span class="hlp-card-subtitle">Cupom de desconto oferecido por</span>
                    <div class="hlp-card-avatar"><img src="{{SelectedPromotion.PersonLogo}}"></div>
                    <div class="hlp-card-name"><a href="/Fanpage/{{SelectedPromotion.PersonId}}">{{SelectedPromotion.PersonName}}</a></div>
                    <small>Telefone: {{SelectedPromotion.PhoneNumber}} - CNPJ: {{SelectedPromotion.PersonDocumentNumber}}</small>
                </header>
            </div>
        </div>


        <section class="deal-description">
            <div class="col-md-6 deal-geral">
                <h4>{{SelectedPromotion.Title}}</h4>
                <p ng-bind-html="SelectedPromotion.FullDescription"></p>
            </div>
            <!--Deal Geral-->


            <div class="col-md-6 deal-regulations">

                <h4>Regras gerais</h4>

                <p ng-bind-html="SelectedPromotion.Alert"></p>

                <div style="overflow:hidden;height:600px;width:100%;">
                    <div id="gmap_canvas" style="height:500px;width:600px;">
                    </div>
                </div>
                <!--<section class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.336901898792!2d-46.6828485853367!3d-23.592247468618034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5745504687ad%3A0x6ad4d8f812048e2a!2sStudio+Pedro+Silva+Prado!5e0!3m2!1spt-BR!2sbr!4v1466887929068" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <iframe width="100%" height="600" src="http://www.maps.ie/create-google-map/map.php?width=100%&amp;height=600&amp;hl=en&amp;q=rua%20bebedouro%36+(paulista)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="http://www.mapsdirections.info/de/erstellen-sie-eine-google-map/">Erstellen Sie eine Google Map</a> by <a href="http://www.mapsdirections.info/de/">Erstellen Google Map</a></iframe>
                </section>-->
            </div>
            <!--Deal Regulations-->
        </section>

    </section>
    <!-- deal -->

</div>
<!--Container-->

<div class="modal" id="emitir-cupom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     style="display: none; padding-right: 17px;">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close hlp-modal-clean-close" ng-click="CloseModal()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

            <div class="hlp-modal-cupom text-center">

                <img src="../../../images/cupom-emitido.png" class="hlp-modal-cupom-illustra" width="100" alt="Cupom emitido" />

                <h2 class="hlp-modal-cupom-title text-center">Cupom emitido com sucesso!</h2>
                <p class="hlp-modal-cupom-subtitle text-center">Você deve validar este cupom no estabelecimento</p>

                <div class="hlp-modal-cupom-code text-center">
                    <span class="hlp-modal-cupom-code-item">{{couponCode}}</span>
                    <small class="hlp-modal-cupom-code-subtitle" title="Validade">Válido até {{SelectedPromotion.DateOfExpire}}</small>
                </div>

                <div class="hlp-modal-cupom-cashback">
                    <span class="hlp-modal-cupom-creditos">{{SelectedPromotion.HeeelpCashBackValue}} de créditos Heeelp!</span>
                    <small class="hlp-modal-cupom-infocreditos">Somente ao válidar este cupom</small>
                </div>

                <div class="row hlp-modal-cupom-info">
                    <div class="col-md-8">
                        <h3 class="hlp-modal-cupom-info-title">{{SelectedPromotion.Title}}</h3>
                        <span class="hlp-modal-cupom-info-address">{{SelectedPromotion.Address}}</span>
                    </div>

                    <div class="col-md-4 hlp-modal-cupom-info-price">
                        <span class="details-oldprice">{{SelectedPromotion.NormalPrice}}</span>
                        <h2 class="details-price">{{SelectedPromotion.PromotionalPrice}}</h2>
                    </div>
                </div>



                <div class="hlp-modal-oferecimento">
                    <div class="row">
                        <div class="col-md-9">

                            <header class="hlp-card-header">
                                <div class="hlp-card-avatar"><img src="{{SelectedPromotion.PersonLogo}}"></div>
                                <span class="hlp-card-subtitle">Cupom de desconto oferecido por</span>
                                <div class="hlp-card-name"><a href="/Fanpage/{{SelectedPromotion.PersonId}}">{{SelectedPromotion.PersonName}}</a></div>
                                <small>Telefone: {{SelectedPromotion.PhoneNumber}} - CNPJ: {{SelectedPromotion.PersonDocumentNumber}}</small>
                            </header>

                        </div>
                        <div class="col-md-2">
                            <a href="/Coupon/MyCoupons" class="btn btn-primary hlp-modal-btn-primary">Meus Cupons</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="svg-loader" ng-hide="loadGenerateCoupon">
    <img src="../../../Content/svg-loader/oval.svg" width="30" alt="">
    <span>Gerando cupom...</span>
</div>