<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--Lab-->
    <!--<add key="WebApiContab" value="http://heeelplabvm.cloudapp.net:83/" />-->
    <!--<add key="WebApiFileServer" value="http://heeelplabvm.cloudapp.net:89/" />-->
    <!--<add key="WebApiAccount" value="http://heeelplabvm.cloudapp.net:82/" />-->
    <!--<add key="WebApiNotification" value="http://heeelplabvm.cloudapp.net:84/" />-->
    <!--<add key="WebApiClassified" value="http://localhost:56328" />-->
    <!--<add key="WebApiCore" value="http://heeelplabvm.cloudapp.net:86/" />-->
    <!--<add key="WebApiPromotion" value="http://heeelplabvm.cloudapp.net:81/" />-->
    <!--<add key="WebApiMarketing" value="http://localhost:63922/" />-->
    <!--<add key="WebApiSocial" value="http://localhost:55000/" />-->



    <!--Prod-->
    <!--<add key="WebApiContab" value="http://heeelpapicontabprod.azurewebsites.net/" />
    <add key="WebApiFileServer" value="http://heeelpapifileserverprod.azurewebsites.net/" />
    <add key="WebApiAccount" value="http://heeelpapiaccountprod.azurewebsites.net/" />
    <add key="WebApiNotification" value="http://heeelpapinotification.azurewebsites.net/" />
    <add key="WebApiClassified" value="http://heeelpapiclassifiedprod.azurewebsites.net/" />
    <add key="WebApiCore" value="http://heeelpapicoreprod.azurewebsites.net/" />
    <add key="WebApiPromotion" value="http://heeelpapipromotionprod.azurewebsites.net/" />
    <add key="WebApiSocial" value="http://heeelpapisocialprod.azurewebsites.net/" />-->


    <!--Homol-->
    <add key="WebApiContab" value="http://heeelpapicontabhomol.azurewebsites.net/"/>
    <add key="WebApiFileServer" value="http://heeelpapifileserverhomol.azurewebsites.net/"/>
    <add key="WebApiAccount" value="http://heeelpapiaccounthomol.azurewebsites.net/"/>
    <add key="WebApiNotification" value="http://heeelpapinotificationhomol.azurewebsites.net/"/>
    <add key="WebApiClassified" value="http://heeelpapiclassifiedhomol.azurewebsites.net/"/>
    <!--<add key="WebApiCore" value="http://heeelpapicorehomol.azurewebsites.net/"/>-->
    <add key="WebApiPromotion" value="http://heeelpapipromotionhomol.azurewebsites.net/"/>
    <add key="WebApiMarketing" value="http://heeelpapimarketinghomol.azurewebsites.net/"/>
    <add key="WebApiSocial" value="http://heeelpapisocialhomol.azurewebsites.net/"/>
    
    
    <!--Local-->
    <add key="WebApiCore" value="http://localhost:56581/"/>


    <add key="RadiusDistance" value="1000" /> <!--in metters-->
    
    <add key="ContainerName" value="heeelpfiles" />
    <add key="LogPath" value="C:\" />
    <add key="TraceName" value="Robo Core" />
    <add key="DefaultPasswordNewUser" value="123mudar" />
  </appSettings>
  <connectionStrings>
    <!--Homol-->
    <add name="EventStore" connectionString="data source=heeelpsqlserverhomol.database.windows.net;initial Catalog=HeeelpCoreDBHomol;integrated Security=True ;User ID=AdminSQL; Password=H333lp!@#; Trusted_Connection=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="MessageLog" connectionString="data source=heeelpsqlserverhomol.database.windows.net;initial Catalog=HeeelpCoreDBHomol;integrated Security=True ;User ID=AdminSQL; Password=H333lp!@#; Trusted_Connection=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="BlobStorage" connectionString="data source=heeelpsqlserverhomol.database.windows.net;initial Catalog=HeeelpCoreDBHomol;integrated Security=True ;User ID=AdminSQL; Password=H333lp!@#; Trusted_Connection=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="SqlBus" connectionString="data source=heeelpsqlserverhomol.database.windows.net;initial Catalog=HeeelpCoreDBHomol;integrated Security=True ;User ID=AdminSQL; Password=H333lp!@#; Trusted_Connection=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="HeeelpCoreAzure" connectionString= "data source=heeelpsqlserverhomol.database.windows.net;initial Catalog=HeeelpCoreDBHomol;integrated Security=True ;User ID=AdminSQL; Password=H333lp!@#; Trusted_Connection=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="HeeelpConnection" connectionString="data source=heeelpsqlserverhomol.database.windows.net;initial Catalog=HeeelpCoreDBHomol;integrated Security=True ;User ID=AdminSQL; Password=H333lp!@#; Trusted_Connection=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    
    
    
    <!--Lab-->
    <!--<add name="EventStore" connectionString="data source=heeelplabvm.cloudapp.net;initial catalog=HeeelpCoreDB;Persist Security Info=True;User ID=dev;Password=Pass1Word;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="MessageLog" connectionString="data source=heeelplabvm.cloudapp.net;initial catalog=HeeelpCoreDB;Persist Security Info=True;User ID=dev;Password=Pass1Word;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="BlobStorage" connectionString="data source=heeelplabvm.cloudapp.net;initial catalog=HeeelpCoreDB;Persist Security Info=True;User ID=dev;Password=Pass1Word;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="SqlBus" connectionString="data source=heeelplabvm.cloudapp.net;initial catalog=HeeelpCoreDB;Persist Security Info=True;User ID=dev;Password=Pass1Word;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="HeeelpCoreAzure" connectionString="data source=heeelplabvm.cloudapp.net;initial catalog=HeeelpCoreDB;Persist Security Info=True;User ID=dev;Password=Pass1Word;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="HeeelpConnection" connectionString="data source=heeelplabvm.cloudapp.net;initial catalog=HeeelpCoreDB;Persist Security Info=True;User ID=dev;Password=Pass1Word;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    
    
    <add name="Storage" connectionString="DefaultEndpointsProtocol=https;AccountName=heeelpfileserver;AccountKey=NkEz6kaJOoROz7PJXVK7aFyO271NakOS75LqNip7GuIodXHWGY5U9FuS7U85pUS3AOpbM6UQrevY0jK/aSufOw==" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <!--Homol-->
        <parameter value="data source=heeelpsqlserverhomol.database.windows.net;initial catalog=HeeelpCoreDBHomol;Persist Security Info=True;User ID=AdminSQL;Password=H333lp!@#;MultipleActiveResultSets=True" />
        <!--Lab-->
        <!--<parameter value="data source=heeelpdbserver.database.windows.net;initial catalog=HeeelpCoreDB;Persist Security Info=True;User ID=heeelp;Password=H###lp123;MultipleActiveResultSets=True" />-->
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.StorageClient" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Diagnostics" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.0.0" newVersion="2.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
</configuration>