<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="heeelpLog.log"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%newline%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <param name="ApplicationName" value="Heeelp" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="AzureTableAppender" type="log4net.Appender.AzureTableAppender, log4net.Appender.Azure">
      <bufferSize value="1" />
      <param name="TableName" value="logcoreprocessor"/>
      <!--You can either specify a connection string or use the ConnectionStringName property instead
      <param name="ConnectionString" value="UseDevelopmentStorage=true"  />-->
      <param name="ConnectionStringName" value="Storage" />
      <!--You can specify this to make each LogProperty as separate Column in TableStorage, 
    Default: all Custom Properties were logged into one single field-->
      <param name="PropAsColumn" value="true" />
      <param name="PartitionKeyType" value="LoggerName" />

    </appender>
    <!--<appender name="AzureBlobAppender" type="log4net.Appender.AzureBlobAppender, log4net.Appender.Azure">
      <param name="ContainerName" value="testloggingblob"/>
      <param name="DirectoryName" value="logs"/>
       You can either specify a connection string or use the ConnectionStringName property instead 
      <param name="ConnectionStringName" value="Storage"/> 
    </appender>-->



    <logger name="FileLogger">
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </logger>

    <logger name="EventLogger">
      <level value="ALL" />
      <appender-ref ref="EventLogAppender" />
    </logger>
    <logger name="AzureTableLogger">
      <level value="ALL" />
      <appender-ref ref="AzureTableAppender" />
    </logger>
    <!--<logger name="AzureBlobLogger">
      <level value="ALL" />
      <appender-ref ref="AzureBlobAppender" />
    </logger>-->
    <!--<root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="EventLogAppender" />
    </root>-->
  </log4net>
</configuration>