@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Heeelp";
}

<script src="~/app/Controllers/Expertise/ExpertiseController.js"></script>
<script src="~/app/Controllers/Expertise/ExpertiseEditController.js"></script>
<script src="~/app/Controllers/Person/PersonController.js"></script>
<script src="~/app/Controllers/User/UserController.js"></script>
<script src="~/app/Controllers/Home/HomeController.js"></script>
<script src="~/app/Controllers/Notification/NotificationController.js"></script>
<script src="~/app/Controllers/Notification/CommunicationTypeController.js"></script>
<script src="~/app/Controllers/Promotion/PromotionController.js"></script>
<script src="~/app/Controllers/Person/PersonAddressController.js"></script>
<script src="~/app/Controllers/Promotion/PromotionManagementController.js"></script>
<script src="~/app/Controllers/Promotion/ApprovePromotionController.js"></script>
<script src="~/app/Controllers/Promotion/PromotionDetailController.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9n0LG7bmNlgIXmPR7LigtuF6q0Um_C90&"></script>
<script src="~/Content/js/scripts.js"></script>

    <div ng-view></div>
