<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>




    <add key="WebApiContab" value="http://heeelpapicontabhomol.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WebApiFileServer" value="http://heeelpapifileserverhomol.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WebApiAccount" value="http://heeelpapiaccounthomol.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WebApiNotification" value="http://heeelpapinotificationhomol.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WebApiClassified" value="http://heeelpapiclassifiedhomol.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WebApiCore" value="http://heeelpapicorehomol.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WebApiPromotion" value="http://heeelpapipromotionhomol.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WebApiMarketing" value="http://heeelpapimarketinghomol.azurewebsites.net/"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="WebApiSocial" value="http://heeelpapisocialhomol.azurewebsites.net/"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>


    <add key="TraceName" value="AdministrationHomol" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Domain" value="http://heeelpportaladminhomol.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UserSessionName" value="homol_user_session" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" name="homolHeeelp" protection="All" timeout="2880" path="/" xdt:Transform="Replace" />
    </authentication>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>