<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="WebApiContab" value="http://heeelpcontabwebapi.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WebApiFileServer" value="http://heeelpfileserverwebapiprod.azurewebsites.net/"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WebApiAccount" value="http://heeelpaccountwebapiprod.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WebApiNotification" value="http://heeelpnotificationwebapiprod.azurewebsites.net/"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WebApiClassified" value="http://heeelpclassifiedwebapiprod.azurewebsites.net/"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WebApiCore" value="http://heeelpcorewebapiprod.azurewebsites.net/"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WebApiPromotion" value="http://heeelppromotionwebapiprod.azurewebsites.net/"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WebApiMarketing" value="http://heeelpmarketingwebapiprod.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TraceName" value="AdministrationProd" />
    <add key="Domain" value="http://heeelpclientprod.azurewebsites.net/" />
    <add key="UserSessionName" value="prod_user_session" />
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" name="localHeeelp" protection="All" timeout="2880" path="/" domain="heeelpcoreuiprod.azurewebsites.net" xdt:Transform="Replace" />
    </authentication>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>